$darkblue: #22253B;
$black: #000;
$white: #fff;
$lightblue: #EAF2F5;
$lightskybluebg: #38bff2;
$orange: #f15525;
$lightgray: #f3f3f3;
$gray: #8E8E8E;
$lightgray2: #eaeaea;

// Technologies BG colors
$tech-lightskyblue: #50C0FF;
$tech-lightgreen: #4BD071;
$tech-blue: #5096FF;
$tech-orange: #FF6F50;
$tech-darkblue: #4B77B9;
$tech-lightpurple: #AF93FF;
$tech-lightorange: #FFB359;


