html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
.registration-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
}

.signup-block{
    margin: 0 auto;
    padding: 0 20px;
}



.abbrev-logo{
    margin: 30px 30px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}

.sign-title{
    color: #323142;
    font-size: 35px;
    font-family: 'Poppins';
    letter-spacing: -1.5px;
    text-align: center;
    margin: 0 0 30px 0;
}
.or-inscr{
    color: rgba(0, 90, 100, 0.35);
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}
.sign-submit-btn{
    color: #F3F5F6;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    border-radius: 16px;
    background: #6C5FBC;
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.methods-to-sign{
    display: flex;
    gap: 0 10px;
}
/* .sign-inputs{
} */
.sign__input{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    margin: 30px 0;
    border-radius: 14.275px;
    background: #F5F5F5;
    padding: 20px 20px ;
    gap: 0 20px;
    border: 2px solid #F5F5F5;
    transition: 0.2s ease;
}
.input-sign::placeholder{
    color: #C2C3CB;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.input-sign{
    width: 100%;
}
.input-sign[type="name"],
.input-sign[type="email"],
.input-sign[type="text"],
.input-sign[type="password"] {
    color: #6C5FBC;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.334px;
    text-transform: capitalize; 
}

.privacy-rights{
    display: flex;
    justify-content: space-between;
    color: #718096;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.2px;
    margin: 100px 0 0 0;
}

.filled-input-icon{
    display: none;
}
.link-to-login{
    color: #3E3E3E;
    font-size: 19px;
    font-family: 'Poppins';
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 30px 0;
}
.login__link{
    color: #6C5FBC;
    transition: 0.3s ease;
    border-bottom: 2px solid #00000000;
    font-weight: 500;
}
.login__link:hover{
    border-bottom: 2px solid #6C5FBC;
}
.side-pic{
    height: 100vh !important;
}
.signup__link{
    color: #6C5FBC;
    transition: 0.3s ease;
    border-bottom: 2px solid #00000000;
    font-weight: 500;
}
.signup__link:hover{
    border-bottom: 2px solid #6C5FBC;
}
.login-method{
    cursor: pointer;
}
.signup-method{
    cursor: pointer;
}

.show-or-hide-pass{
    max-width: 100%;
    line-height: 0px;
}
.show-or-hide-pass-filled{
    max-width: 100%;
    line-height: 0px;
    display: none;
}
.show-hide-pass-svg{
    cursor: pointer;
}
.show-hide-pass-filled-svg{
    cursor: pointer;
}
